body{
    background-color: #BBB;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;    
    align-items: center;


}

form input {
    border-radius: 20px;
    border: none;
    padding: 8px;
}

input {
    width: 400px;
    margin: 10px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons input{
    cursor: pointer;
}

.input {
    width: 80px;
    border-Radius: 20px;
}

.informacoes {
    color: black;
}

tr {
    color: red;
    text-align: center;
    align-items: center;
}

td {
    color: green;
}